*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style-type: none;

}
a{
     text-decoration: none;
}
.container{
    width: calc(100% - 330px);
    margin: auto;
}
.row{
    display :flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

}
.list ul{
    display: flex;
    gap:60px;}
 .list a{
 color:#3A3845;

}
.icons ul {
    display: flex;
    gap:24px;
}
.header{
    padding: 31.84px 0;
}
.menu{
    display: none;
}
@media screen and (min-width:320px) and (max-width:991px){
body{
    background-color: teal;
}
.list{
    display: none;
}
.icon_hidden
{
    display: none;
}
.container{
    width: calc(100% - 40px);
    margin: auto;
}
.menu{
    display: block;
}

}